@model ShopProductVM

<form method="post" asp-area="ProductManagement" asp-controller="ShopProduct" asp-action="Upsert">
    <input asp-for="ShopProduct.Id" hidden />

    <div class="row">
        <div class="col-12">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.ShopProduct.Id != 0 ? "Update" : "Create")  Product</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@
                <div class="mb-3">
                    <label asp-for="ShopProduct.Name"></label>
                    <input asp-for="ShopProduct.Name" class="form-control" autofocus />
                    <span asp-validation-for="ShopProduct.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ShopProduct.ProductAcronym"></label>
                    <input asp-for="ShopProduct.ProductAcronym" class="form-control" />
                    <span asp-validation-for="ShopProduct.ProductAcronym" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ShopProduct.Brand"></label>
                    <input asp-for="ShopProduct.Brand" class="form-control" />
                    <span asp-validation-for="ShopProduct.Brand" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ShopProduct.CatalogId"></label>
                    <select asp-for="ShopProduct.CatalogId" asp-items="@Model.CatalogList" class="form-select">
                        <option disabled selected>--Select--</option>
                    </select>
                    <span asp-validation-for="ShopProduct.CatalogId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ShopProduct.LocationId"></label>
                    <select asp-for="ShopProduct.LocationId" asp-items="@Model.LocationList" class="form-select">
                        <option disabled selected>--Select--</option>
                    </select>
                    <span asp-validation-for="ShopProduct.LocationId" class="text-danger"></span>
                </div>
                @if (Model.ShopProduct.Id != 0)
                {
                    <div class="mb-3">
                        <label asp-for="ShopProduct.IsDisable" class="form-check-label">
                            <input asp-for="ShopProduct.IsDisable" class="form-control form-check-input" /> @Html.DisplayNameFor(model => model.ShopProduct.IsDisable)
                        </label>
                        <span asp-validation-for="ShopProduct.IsDisable" class="text-danger"></span>
                    </div>
                }
                <div class="col-12">
                    @if (Model.ShopProduct.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                        @*<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>*@
                    }
                    <a asp-controller="ShopProduct" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
    </script>
}
