@model Shop

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create")  Shop</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@
                <div class="mb-3 col-md-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" autofocus />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3  col-md-6">
                    <label asp-for="FootNote"></label>
                    <input asp-for="FootNote" class="form-control" />
                    <span asp-validation-for="FootNote" class="text-danger"></span>
                </div>
                <div class="mb-3  col-md-6">
                    <label asp-for="LogoUrl"></label>
                    <input type="file" id="uploadBox" name="file" class="form-control" />
                </div>
                <div class="mb-3  col-md-6">
                    <label asp-for="StreetAddress"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="mb-3  col-md-6">
                    <label asp-for="MobileNumber"></label>
                    <input asp-for="MobileNumber" class="form-control" />
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                <div class="mb-3  col-md-6">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3  col-md-6">
                    <label asp-for="State"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-3  col-md-6">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.LogoUrl"
                 width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
    </script>
}
