<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="@Url.Content("~/images/shops/favicons/buyhappily.ico")" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/BHWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="~/toastr/toastr.min.css_2.1.4/cdnjs/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/select2.min.css" rel="stylesheet" />


    <link href="~/tables/css/datatable/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/tables/css/datatable/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/tables/css/datatable/select.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/autofill.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/buttons.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/colreorder.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/datatables.colvis.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/fixedcolumns.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/fixedheader.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/keytable.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/responsive.datatables.min.css" rel="stylesheet" />
    <link href="~/tables/css/extensions/rowreorder.datatables.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <partial name="_ShopNamePartial" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            @if (User.IsInRole(SDRoles.Role_ShopAdmin) || User.IsInRole(SDRoles.Role_ShopUser))
                            {
                                 <a class="nav-link " asp-area="Customer" asp-controller="POS" asp-action="Index">POS</a>
                            }
                        </li>
                        @if (User.IsInRole(SDRoles.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Content Managment</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Organization" asp-controller="Company" asp-action="Index">Company</a>
                                    <a class="dropdown-item" asp-area="Organization" asp-controller="Shop" asp-action="Index">Shop</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SDRoles.Role_ShopAdmin) || User.IsInRole(SDRoles.Role_ShopUser))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage Cash</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Accounts" asp-controller="DailyCash" asp-action="EndOfDay">End of Day</a>
                                    @if (User.IsInRole(SDRoles.Role_ShopAdmin))
                                    {
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="DailyCash" asp-action="Index">Daily Sale</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="DailyCash" asp-action="IndexSupplierCash">Pay Supplier</a>
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="AccountReceivable" asp-action="CustomerCashList">Customer Payment</a>
                                    }
                                </div>
                            </li>
                            @if (User.IsInRole(SDRoles.Role_ShopAdmin))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contents</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Customer" asp-controller="CustomerRoute" asp-action="Index">Routes</a>
                                        <a class="dropdown-item" asp-area="Organization" asp-controller="LocationType" asp-action="Index">Location Type</a>
                                        <a class="dropdown-item" asp-area="Organization" asp-controller="Location" asp-action="Index">Location</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="ProductManagement" asp-controller="UnitOfMeasures" asp-action="Index">Unit of Mearsure</a>
                                        <a class="dropdown-item" asp-area="ProductManagement" asp-controller="Catalog" asp-action="Index">Catalog</a>
                                        <a class="dropdown-item" asp-area="ProductManagement" asp-controller="ShopProduct" asp-action="Index">Product</a>
                                        <a class="dropdown-item" asp-area="ProductManagement" asp-controller="Variant" asp-action="Index">Variant</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Customer" asp-controller="ShopCustomer" asp-action="Index">Customer</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Inventory" asp-controller="StockTransfer" asp-action="Index">Stock Details</a>
                                        <a class="dropdown-item" asp-area="Inventory" asp-controller="StockTransfer" asp-action="IndexStockIn">Stock In</a>
                                        <a class="dropdown-item" asp-area="Inventory" asp-controller="StockTransfer" asp-action="IndexReturnToSupplier">Rturn Stock to Supplier</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Inventory" asp-controller="PurchaseOrder" asp-action="Index">Purchase Order</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="PaymentMethod" asp-action="Index">Payment Method</a>

                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Expense</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="Expense" asp-action="Index">Expense List</a>
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="ExpenseType" asp-action="Index">Expense Type</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="ExpenseMonth" asp-action="Index">Expense Month</a>
                                        <a class="dropdown-item" asp-area="Accounts" asp-controller="ExpenseYear" asp-action="Index">Expense Year</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reporting</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexVariantReport">Variants Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexProductReport">Products Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="CustomerCashMonthWiseReport">Monthly Sales Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexDateWiseSaleReport">Daily Sales Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexHourWiseSaleReport">Hourly Sales Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexMarginReport">Profit & Margin Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexStockMovmentReport">Stock Movement Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexUserWiseSaleReport">Users Wise Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="IndexCustomerWiseVariantStockReport">Customer, Variants Report</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="CustomerCashDateWiseReport">Customer Cash by Date</a>
                                        <a class="dropdown-item" asp-area="Reporting" asp-controller="Reporting" asp-action="RouteBalanceReport">Route Balance Report</a>
                                    </div>
                                </li>
                            }
                            <li class="nav-item">
                                <a class=nav-link asp-area="SaleManagement" asp-controller="ShopOrder" asp-action="Index">
                                    Manage Order
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class=nav-link asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                @await Component.InvokeAsync("ShoppingCart")
                            </a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="px-3 pt-3">
        <main role="main" class="pb-5 mt-5">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer sticky-bottom bg-primary text-muted">
        <div class="text-center">
            &copy; Muhammad Shahzad Anjum <i class="bi bi-telephone"></i> +923445011525
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/toastr/toastr.min.js_2.1.4/cdnjs/toastr.min.js"></script>
    <script src="~/js/select2.min.js"></script>


    <script src="~/tables/js/jquery.datatables.min.js"></script>

    <script src="~/tables/js/datatable-init/datatable-advanced.min.js"></script>
    <script src="~/tables/js/datatable-init/datatable-api.min.js"></script>
    <script src="~/tables/js/datatable-init/datatable-basic.min.js"></script>
    <script src="~/tables/js/datatable-init/datatable-styling.min.js"></script>

    <script src="~/tables/js/datatable/buttons.bootstrap4.min.js"></script>
    <script src="~/tables/js/datatable/datatables.autofill.min.js"></script>
    <script src="~/tables/js/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/tables/js/datatable/datatables.buttons.min.js"></script>
    <script src="~/tables/js/datatable/datatables.colreorder.min.js"></script>
    <script src="~/tables/js/datatable/datatables.colvis.js"></script>
    <script src="~/tables/js/datatable/datatables.fixedcolumns.min.js"></script>
    <script src="~/tables/js/datatable/datatables.fixedheader.min.js"></script>
    <script src="~/tables/js/datatable/datatables.keytable.min.js"></script>
    <script src="~/tables/js/datatable/datatables.responsive.min.js"></script>
    <script src="~/tables/js/datatable/datatables.rowreorder.min.js"></script>
    <script src="~/tables/js/datatable/datatables.select.min.js"></script>
    <script>
        $('#tblData').DataTable({
            fixedHeader: {
                header: true,
                headerOffset: $('#navbar').height()
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
